if [ -d .venv ]; then
    echo "Virtualenv exists."
else
    echo "Creating virtualenv."
    python3.8 -m venv .venv
fi

[ ! -f settings.json ] && cp settings.json.example settings.json

source .venv/bin/activate
unset PS1
